# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VSCode
.vscode/

# OS files
.DS_Store

# Logs
*.log

# SQLite database (如果以后加数据库用)
*.db

# Environment variables
.env